{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
<h1>Nova Movimentação</h1>
{% endblock title %}

{% block content %}
{% if formset.non_form_errors %}
<div class="alert alert-warning col-12" role="alert">
    <p>{{ formset.non_form_errors }}</p>
</div>
{% endif %}
<form method="POST" class="row col-12">
    {% csrf_token %}
    <div class="col-12 row">
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
            {% render_field form.tipo type="date" class="form-control" %}
            <div class="invalid-feedback">
                {{ form.tipo.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.data.id_for_label }}">{{ form.data.label }}</label>
            {% render_field form.data type="datetime-local" class="form-control" %}
            <div class="invalid-feedback">
                {{ form.data.errors }}
            </div>
        </div>
    </div>
        
    <div class="col-12">
        {{ formset.management_form }}
        <div class="row">
            <h5 class="text-primary col-4 ml-2">Pessoa</h5>
            <h5 class="text-primary col-4 ml-2">Produto</h5>
            <h5 class="text-primary col-2 ml-2">Quantidade</h5>
        </div>
        <div id="movimentacao_list">
            {% for form in formset %}
                <div id="{{ form.prefix }}-item" class="movimentacao_item row align-items-center" >
                    {{ form.id }}
                    <div class="col-4 ml-2">
                        {% render_field form.pessoa class="form-control" %}
                        <div class="invalid-feedback">
                            {{ form.pessoa.errors }}
                        </div>
                    </div>
                    <div class="col-4 ml-2">
                        {% render_field form.produto class="form-control" %}
                        <div class="invalid-feedback">
                            {{ form.produto.errors }}
                        </div>
                    </div>
                    <div class="col-2 ml-2">
                        {% render_field form.quantidade class="form-control" %}
                        <div class="invalid-feedback">
                            {{ form.quantidade.errors }}
                        </div>
                    </div>
                    <div>
                        <button
                            id="{{ form.prefix }}-button"
                            type="button"
                            class="btn btn-danger btn-sm"
                            onclick="removeLine(this)"
                        >X</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add_item_id" class="btn btn-primary">Registro <i class="fas fa-plus"></i></button>
    </div>

    <div class="col-lg-10">
        <label class="h5 text-primary text-right" for="{{ form.observacao.id_for_label }}">{{ form.observacao.label }}</label>
        {% render_field form.observacao class="form-control" rows="3" placeholder="Observações importantes" %}
        <div class="invalid-feedback">
            {{ form.observacao.errors }}
        </div>
    </div>

    <div class="col-12 my-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

    function removeLine (element) {
        div_id = element.id.replace('-button', '-item')
        lineToRemove = document.getElementById(div_id)
        lineToRemove.remove()
        let totalForms = document.querySelector("#id_movimentacaoproduto_set-TOTAL_FORMS")
        let totalFormNum = parseInt(totalForms.value)
        totalFormNum--
        totalForms.setAttribute('value', `${totalFormNum}`)
    }

    $(document).ready(function() {
        $("#add_item_id").click(function(e) {
            e.preventDefault()
            let itens = document.querySelectorAll('.movimentacao_item')
            let formNum = itens.length
            let totalForms = document.querySelector("#id_movimentacaoproduto_set-TOTAL_FORMS")
            let totalFormNum = parseInt(totalForms.value)
            let container = document.querySelector("#movimentacao_list")

            let newForm = itens[formNum-1].cloneNode(true)
            let formRegex = RegExp(`movimentacaoproduto_set-(\\d){1}-`,'g')

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `movimentacaoproduto_set-${formNum}-`)
            newForm.id = newForm.id.replace(formRegex, `movimentacaoproduto_set-${formNum}-`)
            container.insertBefore(newForm, null)
            totalFormNum++
            totalForms.setAttribute('value', `${totalFormNum}`)
        });
    });

</script>

{% endblock extra_js %}
