{% extends 'base.html' %}

{% block title %}
<h1>Movimentações</h1>
{% endblock title %}

{% block actions %}
<a href="{% url 'movimentacao_form' %}" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">Nova movimentação</span>
</a>
{% endblock actions %}


{% block content %}
<div class="container-fluid card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Produtos Envolvidos</th>
                        <th>Pessoas Envolvidas</th>
                        <th>Data</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for movimentacao in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'movimentacao_detail' pk=movimentacao.pk %}">{{ movimentacao.pk }}</a>
                            </td>
                            <td>{{ movimentacao.tipo|default_if_none:'--' }}</td>
                            <td>{{ movimentacao.quantidade|default_if_none:'--'}}</td>
                            <td>
                                {% if movimentacao.produtos_envolvidos|length > 2 %}
                                    {{ movimentacao.produtos_envolvidos|slice:":2"|join:', ' }}
                                {% else %}
                                    {{ movimentacao.produtos_envolvidos|join:', ' }}
                                {% endif %}
                            </td>
                            <!-- <td>{{ movimentacao.produtos.first|default_if_none:'--'}}</td> -->

                            <td>
                                {% if movimentacao.pessoas_envolvidas|length > 2 %}
                                    {{ movimentacao.pessoas_envolvidas|slice:":2"|join:', ' }} (...)
                                {% else %}
                                    {{ movimentacao.pessoas_envolvidas|join:', ' }}
                                {% endif %}
                            </td>
                            <td>{{ movimentacao.data|default_if_none:'--' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        {% include 'pagination.html' %}
    </div>
</div>

{% endblock content %}

