{% extends 'base.html' %}

{% block title %}
<h1>Produtos</h1>
{% endblock title %}


{% block actions %}
<a href="{% url 'produto_form' %}" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">Novo Produto</span>
</a>
{% endblock actions %}


{% block content %}
<div class="container-fluid card mb-4">
    <hr>
    <div class="card-body">
        <div class="row-12 col-12">
            <form method="get" class="d-flex">
                <div class="row-4 col-4">
                <input class="form-control me-2" id="search" type="text" name="nome" placeholder="Procure pelo Nome do Produto" aria-label="Search" value="{{request.GET.nome}}">
                </div>
                <div class="row-4 col-3">
                <input type="checkbox" id="search-checkbox" name="disponibilidade">
                <label for="search-checkbox">Produto Disponível</label>
                </div>
                <div class="row">
                <button class="btn btn-outline-success" type="submit">Procurar</button>
                </div>
            </form>
        <div>
    <hr>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Disponibilidade</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for produto in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'produto_form' pk=produto.pk %}">{{ produto.nome }}</a>
                            </td>
                            <td>{{ produto.descricao|default_if_none:'--' }}</td>
                            <td>{{ produto.categoria|default_if_none:'--' }}</td>
                            <td>{% if produto.disponibilidade %}
                                    <i class="fa fa-check-circle ok"></i>
                                {% else %}
                                    <i class="fa fa-minus-circle no"></i>
                                {% endif %}
                            </td>
                            <td>{{ produto.estoque|default_if_none:'--'  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        {% include 'pagination.html' %}
    </div>
</div>

{% endblock content %}

