{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
<h1>Cadastrar Produto</h1>
{% endblock title %}

{% block content %}
<form method="POST" class="row col-12">
    {% csrf_token %}
    <div class="col-12 row">
        <div class="col-lg-8">
            <label class="h5 text-primary form-check-label" for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
            <div class="form-check form-check-inline">
            {% render_field form.nome class="form-check-input" placeholder="Nome do produto" %}
            </div>
            <div class="invalid-feedback">
                {{ form.nome.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.categoria.id_for_label }}">{{ form.categoria.label }}</label>
            {% render_field form.categoria type="date" class="form-control" %}
            <div class="invalid-feedback">
                {{ form.categoria.errors }}
            </div>
        </div>
        <div class="col-lg-12">
            <label class="h5 text-primary" for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label>
            {% render_field form.descricao class="form-control" placeholder="Descricao do produto" %}
            <div class="invalid-feedback">
                {{ form.descricao.errors }}
            </div>
        </div>
    </div>
        
    <div class="col-lg-6">
        
    </div>
    <div class="col-lg-6">

    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>

{% endblock content %}

