{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
<h1>Detalhe do evento</h1>
{% endblock title %}

{% block extra_css %}
    {{ form_doacaoevento.media.css }}
{% endblock extra_css %}

{% block actions %}

<a href="{% url 'doacoes_pdf' evento_pk=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
<i class="fas fa-download fa-sm text-white-50"></i> Gerar PDF</a>

<a href="{% url 'evento_list' %}" class="btn btn-outline-success">Voltar</a>
{% endblock actions %}


{% block content %}
<h3 class="col-12"> Nome: {{ object.nome }} </h3>
<h3 class="col-12"> Data: {{ object.data }} </h3>
<div class="col-12">
    <form method="POST" class="row col-12">
        {% csrf_token %}

        <div class="d-flex col-lg-6">
            <div class="col-8">
                <label class="h5 text-primary" for="{{ form_doacaoevento.pessoa.id_for_label }}">{{ form_doacaoevento.pessoa.label }}</label>
                {% render_field form_doacaoevento.pessoa class="form-control" %}
                <div class="invalid-feedback">
                    {{ form_doacaoevento.pessoa.errors }}
                </div>
            </div>
            <div class="col-2 mt-4">
                <button type="submit" class="btn btn-success btn-sm">Incluir pessoa</button> 
            </div>
        </div>
    </form>
</div>
<div class="col-12">
    <table class="table table-bordered mt-4" id="dataTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Logradouro</th>
                <th>Bairro</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for doacao in object.doacaoevento_set.all %}
                <tr>
                    <td>
                        <a href="{% url 'pessoafisica_detail' pk=doacao.pessoa.pk %}">{{ doacao.pessoa.nome }}</a>
                    </td>
                        
                    <td>{{ doacao.pessoa.cpf|default_if_none:'--'  }}</td>
                    <td>{{ doacao.pessoa.rg|default_if_none:'--'  }}</td>
                    <td>{{ doacao.pessoa.logradouro }}</td>
                    <td>{{ doacao.pessoa.bairro }}</td>
                    <td>
                        {% if doacao.recebido %}
                        <a href="{% url 'cancelar_doacao' evento_pk=doacao.evento.pk pessoa_pk=doacao.pessoa.pk %}" class="btn btn-outline-danger">Cancelar</a>
                        {% else %}
                        <a href="{% url 'receber_doacao' evento_pk=doacao.evento.pk pessoa_pk=doacao.pessoa.pk %}" class="btn btn-outline-success">Entregar</a>
                        <a href="{% url 'remover_doacao' evento_pk=doacao.evento.pk pessoa_pk=doacao.pessoa.pk %}" class="btn btn-outline-danger">Remover do evento</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form_doacaoevento.media.js }}
{% endblock extra_js %}
