{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
<h1>Evento</h1>
{% endblock title %}

{% block extra_css %}
    {{ form_doacaoevento.media.css }}
{% endblock extra_css %}

{% block actions %}

<a href="{% url 'doacoes_pdf' evento_pk=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
<i class="fas fa-download fa-sm text-white-50"></i> Gerar PDF</a>

<a href="{% url 'evento_list' %}" class="btn btn-outline-success">Voltar</a>
{% endblock actions %}


{% block content %}

<div class="container-fluid card">
    <div class="card-body">
        <div class="row-12 col-12">
            <h3> Nome: {{ object.nome }} </h3>
            <h3> Data: {{ object.data }} </h3>
            <div class="row-12 col-12">
                <label class="h5 text-primary" for="{{ form_doacaoevento.pessoa.id_for_label }}">{{ form_doacaoevento.pessoa.label }}</label>
            </div>
            <form method="POST" class="d-flex">
                {% csrf_token %}
                <div class="row-2 col-4">
                    {% render_field form_doacaoevento.pessoa class="form-control" %}
                    <div class="invalid-feedback">
                        {{ form_doacaoevento.pessoa.errors }}
                    </div>
                </div>
                <div class="row-4 col-4">
                    <button type="submit" class="btn btn-success">Incluir pessoa fisica/juridica</button> 
                    Incluidos: {{ object.doacaoevento_set.all.count }}
                </div>
            </form>
            <hr>
            <form method="get" class="d-flex">
                <div class="row-4 col-4">
                    <input class="form-control me-2" id="search" type="text" name="q" placeholder="Procure Pessoa pelo Nome, RG ou CPF" aria-label="Search" value="{{request.GET.dados_pessoa}}">
                </div>
                <div class="row-4 col-4">
                    <button class="btn btn-outline-success" type="submit">Procurar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Logradouro</th>
                    <th>Bairro</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for doacao in pessoas_doacao %}
                    <tr>
                        <td>
                            <a href="{% url 'pessoafisica_detail' pk=doacao.pessoa.pk %}">{{ doacao.pessoa.nome }}</a>
                        </td>
                            
                        <td>{{ doacao.pessoa.cpf|default_if_none:'--'  }}</td>
                        <td>{{ doacao.pessoa.rg|default_if_none:'--'  }}</td>
                        <td>{{ doacao.pessoa.logradouro }}</td>
                        <td>{{ doacao.pessoa.bairro }}</td>
                        <td>
                            {% if doacao.recebido %}
                            <a href="{% url 'cancelar_doacao' evento_pk=doacao.evento.pk pessoa_pk=doacao.pessoa.pk %}" class="btn btn-outline-danger">Cancelar</a>
                            {% else %}
                            <a href="{% url 'receber_doacao' evento_pk=doacao.evento.pk pessoa_pk=doacao.pessoa.pk %}" class="btn btn-outline-success">Entregar</a>
                            <a href="{% url 'remover_doacao' evento_pk=doacao.evento.pk pessoa_pk=doacao.pessoa.pk %}" class="btn btn-outline-danger">Remover do evento</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form_doacaoevento.media.js }}
{% endblock extra_js %}
