{% extends 'base.html' %}

{% block title %}
<h1>Cadastros de Pessoas Jurídicas</h1>
{% endblock title %}

{% block actions %}
<a href="{% url 'pessoajuridica_form' %}" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">Novo Cadastro</span>
</a>
{% endblock actions %}

{% block content %}
<div class="container-fluid card mb-4">
    <hr>
    <div class="card-body">
        <div class="row-12 col-12">
            <form method="get" class="d-flex">
                <div class="row-4 col-4">
                    <input class="form-control me-2" id="search" type="text" name="dados_empresa" placeholder="Procure a Empresa pelo Nome ou CNPJ" aria-label="Search" value="{{request.GET.dados_empresa}}">
                </div>
                <div class="row">
                <button class="btn btn-outline-success" type="submit">Procurar</button>
                </div>
            </form>
        <div>
    <hr>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome Fantasia</th>
                        <th>Razão Social</th>
                        <th>CNPJ</th>
                        <th>Bairro</th>
                        <th>Logradouro</th>
                        <th>Cidade</th>
                        <th>Status</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for pessoa in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'pessoajuridica_form' pk=pessoa.pk %}">{{ pessoa.nome }}</a>
                            </td>
                            <td>{{ pessoa.razao_social|default_if_none:'--' }}</td>
                            <td>{{ pessoa.cnpj|default_if_none:'--' }}</td>
                            <td>{{ pessoa.bairro|default_if_none:'--' }}</td>
                            <td>{{ pessoa.logradouro|default_if_none:'--' }}</td>
                            <td>{{ pessoa.cidade|default_if_none:'--' }}</td>
                            <td>{{ pessoa.ativo|yesno:"Ativo, Inativo" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        {% include 'pagination.html' %}
    </div>
</div>


{% endblock content %}

