{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
<h1>Cadastrar Pessoa Jurídica</h1>
{% endblock title %}

{% block content %}
<form method="POST" class="row col-12">
    {% csrf_token %}
    <div class="col-12 row">
        <div class="col-lg-12">
            <label class="h5 text-primary form-check-label" for="{{ form.ativo.id_for_label }}">{{ form.ativo.label }}</label>
            <div class="form-check form-check-inline">
            {% render_field form.ativo class="form-check-input" placeholder="Status" %}
            </div>
            <div class="invalid-feedback">
                {{ form.ativo.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <label class="h5 text-primary" for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
            {% render_field form.nome class="form-control" placeholder="Nome fantasia" %}
            <div class="invalid-feedback">
                {{ form.nome.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <label class="h5 text-primary" for="{{ form.razao_social.id_for_label }}">{{ form.razao_social.label }}</label>
            {% render_field form.razao_social class="form-control" placeholder="Nome de registro" %}
            <div class="invalid-feedback">
                {{ form.razao_social.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <label class="h5 text-primary" for="{{ form.cpf.id_for_label }}">{{ form.cnpj.label }}</label>
            {% render_field form.cnpj|append_attr:"class:mask-cnpj form-control" placeholder="xx.xxx.xxx/xxxx-xx" %}
            <div class="invalid-feedback">
                {{ form.cnpj.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <label class="h5 text-primary" for="{{ form.rg.id_for_label }}">{{ form.responsavel.label }}</label>
            {% render_field form.responsavel class="form-control" placeholder="Pessoa que representa a empresa" %}
            <div class="invalid-feedback">
                {{ form.responsavel.errors }}
            </div>
        </div>
        <div class="col-lg-10">
            <label class="h5 text-primary" for="{{ form.logradouro.id_for_label }}">{{ form.logradouro.label }}</label>
            {% render_field form.logradouro class="form-control" placeholder="Rua, Avenida, etc." %}
            <div class="invalid-feedback">
                {{ form.logradouro.errors }}
            </div>
        </div>
        <div class="col-lg-2">
            <label class="h5 text-primary" for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
            {% render_field form.numero class="form-control" placeholder="Número" %}
            <div class="invalid-feedback">
                {{ form.numero.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.complemento.id_for_label }}">{{ form.complemento.label }}</label>
            {% render_field form.complemento class="form-control" placeholder="Apto, Casa, Fundos, etc." %}
            <div class="invalid-feedback">
                {{ form.complemento.errors }}
            </div>
        </div>
        <div class="col-lg-8">
            <label class="h5 text-primary" for="{{ form.bairro.id_for_label }}">{{ form.bairro.label }}</label>
            {% render_field form.bairro class="form-control" placeholder="Bairro" %}
            <div class="invalid-feedback">
                {{ form.bairro.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.cidade.id_for_label }}">{{ form.cidade.label }}</label>
            {% render_field form.cidade class="form-control" placeholder="Cidade" %}
            <div class="invalid-feedback">
                {{ form.cidade.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.estado.id_for_label }}">{{ form.estado.label }}</label>
            {% render_field form.estado class="form-control" placeholder="Estado" %}
            <div class="invalid-feedback">
                {{ form.estado.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <label class="h5 text-primary" for="{{ form.cep.id_for_label }}">{{ form.cep.label }}</label>
            {% render_field form.cep|append_attr:"class:mask-cep form-control" placeholder="CEP" %}
            <div class="invalid-feedback">
                {{ form.cep.errors }}
            </div>
        </div>
        <div class="col-lg-12">
            <label class="h5 text-primary" for="{{ form.observacao.id_for_label }}">{{ form.observacao.label }}</label>
            {% render_field form.observacao class="form-control" rows="3" placeholder="Observações importantes" %}
            <div class="invalid-feedback">
                {{ form.observacao.errors }}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        {{ formset.management_form }}
        <h5 class="text-primary" for="{{ form.numero.id_for_label }}">Telefones</h5>
        <div id="telefones_list" class="row">
            {% for form in formset %}
                {{ form.id }}
                <div class="telefone_item col-lg-7" >
                    {% render_field form.numero class="form-control" %}
                    <div class="invalid-feedback">
                        {{ form.numero.errors }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button id="add_item_id" class="btn  btn-primary">Telefone <i class="fas fa-plus"></i></button>
    </div>
    <div class="col-12 my-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

    $(document).ready(function() {
        $("#add_item_id").click(function(e) {
            e.preventDefault()
            let itens = document.querySelectorAll('.telefone_item')
            let formNum = itens.length
            let totalForms = document.querySelector("#id_telefones-TOTAL_FORMS")
            let totalFormNum = parseInt(totalForms.value)
            let container = document.querySelector("#telefones_list")

            let newForm = itens[formNum-1].cloneNode(true)
            let formRegex = RegExp(`telefones-(\\d){1}-`,'g')

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `telefones-${formNum}-`)
            container.insertBefore(newForm, null)
            totalFormNum++
            totalForms.setAttribute('value', `${totalFormNum}`)

        });
    });

</script>

{% endblock extra_js %}
